/* import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #334756;
}
.myprofile{
    text-align: center;
    margin-top: 2rem;
    color: white;
}

.luca{
    text-align: center;
    color: white;
    width: fit-content;
}.luca:hover{
    color: white;
}

.main-container{
    background-image: url(Images/background.jpg);
    width: max-content;
    color: white;
    border-radius: 20px;
    margin: 3rem auto;
    box-shadow: white 0px 2px 0px 3px;
    transition: 1s;
}.main-container:hover{
    transition: 500ms;
    transform: translateY(5px);
}

.location-container div h1{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 15rem;
    font-size: 36px;
    font-weight: 700;
}
.location-container h2{
    font-size: 24px;
    padding-left: 1rem;
    font-weight: 700;

}
.location-container h3{
    padding-left: 1rem;
    font-size: medium;
    font-weight: 700;
}


/*second section*/
.temperature-container{
    margin-top: 12rem;
    padding-bottom: 1rem;
}
.temperature-container , h1, h2, h3{
    margin-left: 1rem;
    font-weight: 700;
}
.temperature-container h1{
    font-size: 72px;
    font-family: 'Georama', sans-serif;
    font-weight: 300;
}

.temperature-container h2{
    position: relative;
    bottom: 4px;
    font-size: 24px;
}
.mixMaxTemperature{
    font-size: medium;
}
.spanCentigradi{
    position: relative;
    font-size: medium;
    bottom: 2.6rem;
    margin-left: 4px;
    font-family: 'Ubuntu', sans-serif;
}


/* bottom container*/

.bottom-container{
    display: grid;
    justify-items: center;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #2C394B;
    width: max-content;
    box-shadow: black 0px 2px 30px 1px;
    transition: 300ms;
}
.bottom-container:hover{
    transition: 300ms;
    transform: translateY(5px);
}
button{
    color: white;
    text-align: center;
    font-weight: 700;
    margin: 1rem;
    border: none;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
    height: 42px;
    background-image: url(Images/background.jpg);
    transition: 300ms;
}button:hover{
    transition: 300ms;
    transform: translateY(2px);
}
input{
    border: none;
    outline: none;
    width: min-content;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 4px solid cadetblue;
    font-size: 22px;
    font-weight: 400;
    transition: 500ms all ease-out;
}
input:focus{
    background-color: rgba(255, 255, 255, 1);
}
